.container{
    height: 60vh;
    width:100%;
    /* border: 1px solid red; */
    display: grid;
}
.quote{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
}

.output_image{
height: 100%;
width: 100%;
}