.App {
    margin: 10px;
    max-height: 80vh;
    max-width: 90vw;
  }
  
  .input_color {
    display: flex;
    justify-content: space-evenly;
    /* border: 1px solid black; */
    align-items: center;
    /* flex-wrap: wrap; */
  }
  
  .Polaris-TextField textarea {
    max-height: 10rem;
}
  
  @media (max-width: 576px) {
      .Polaris-ColorPicker {
          --pc-color-picker-size: 6rem;
      }
      .Polaris-TextField textarea {
        max-height: 6rem;
    }
    }